body{
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #000;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.inner{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.back-to-position{
    opacity: 0;
    transition-duration: 1s;
}
.back-to-position.to-left{
    transform: translateX(150px);
}
.back-to-position.to-right{
    transform: translateX(-150px);
}
.back-to-position.to-top{
    transform: translateY(-150px);
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-1{
    transition-delay: .3s;
}
.show .back-to-position.delay-2{
    transition-delay: .6s;
}

/* 상단 고정 바 */
header{
    width: 100%;
}
header .inner {
    width: 100%;
    height: 80px;

    /* border 나중에 삭제 */
    /* border-bottom: 1px solid black; */

    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left .left-item a .material-icons{ 
    font-size: 30px;
    font-weight: 900;
    margin-left: 30px;
}
header .center .center-item a img{
    width: 100px;
}
header .right .right-item a .material-icons{ 
    font-size: 30px;
    font-weight: 900;
    margin-right: 20px;
}

/* 상단 메뉴바 */
.top{
    width: 100%;
}
.top .inner .top-menu-list{
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: flex-end;
}
.top .inner .top-menu-list li::before{
    content: "";
    margin-left: 25px;
}
.top .inner .top-menu-list li:first-child::before{
    display: none;
}

/* 메인 상품 */
.main .main-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
}
.main .main-shop .shop-1{
    position: relative;
    transition: 0.5s;
}
.main .main-shop .shop-1 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 10px 10px;

}
.main .main-shop .shop-1 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.main .main-shop .shop-1:hover .img-2{
    opacity: 1;
}
.main .main-shop .shop-1 p{
    margin: 5px 10px;
}

.main .main-shop .shop-2{
    position: relative;
    transition: 0.5s;
}
.main .main-shop .shop-2 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 10px 10px;

}
.main .main-shop .shop-2 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.main .main-shop .shop-2:hover .img-2{
    opacity: 1;
}
.main .main-shop .shop-2 p{
    margin: 5px 10px;
}

.main .main-shop .shop-3{
    position: relative;
    transition: 0.5s;
}
.main .main-shop .shop-3 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px 10px;

}
.main .main-shop .shop-3 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.main .main-shop .shop-3:hover .img-2{
    opacity: 1;
}
.main .main-shop .shop-3 p{
    margin: 5px 10px;
}

.main .main-shop .shop-4{
    position: relative;
    transition: 0.5s;
}
.main .main-shop .shop-4 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px 10px;

}
.main .main-shop .shop-4 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.main .main-shop .shop-4:hover .img-2{
    opacity: 1;
}
.main .main-shop .shop-4 p{
    margin: 5px 10px;
}

/* 슬라이드 사진 */
.promotion {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    z-index: 0;

    transition: height .4s;
}
.promotion .swiper img{
    object-fit: cover;
    height: 1000px;
}
.promotion.hide {
    height: 0;
}

.promotion .swiper {
    width: calc(656px * 3 + 10px * 2);
    height: 1000px;
    flex-shrink: 0;
}
.promotion .swiper-slide {
    position: relative;
    opacity: 0.5;
    transition: opacity 1s;
}
.promotion .swiper-slide-active {
    opacity: 1;
}

/* 움직이는 배너 */
.banner-1{
    background-image: url("../image/lmc_bg.jpg");
}
.banner-1 .inner{
    display: flex;
    justify-content: space-around;
}
.banner-1 .inner .logo_image{

}
.banner-1 .inner .text_1{
    width: 400px;
    height: 200px;
    object-fit: cover;

}
.banner-1 .inner .text_2{
    
}

/* 서브 상품 */
.sub .sub-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
}
.sub .sub-shop .shop-1{
    position: relative;
    transition: 0.5s;
}
.sub .sub-shop .shop-1 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 10px 10px;

}
.sub .sub-shop .shop-1 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.sub .sub-shop .shop-1:hover .img-2{
    opacity: 1;
}
.sub .sub-shop .shop-1 p{
    margin: 5px 10px;
}

.sub .sub-shop .shop-2{
    position: relative;
    transition: 0.5s;
}
.sub .sub-shop .shop-2 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 10px 10px;

}
.sub .sub-shop .shop-2 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.sub .sub-shop .shop-2:hover .img-2{
    /* display: block; */
    opacity: 1;
}
.sub .sub-shop .shop-2 p{
    margin: 5px 10px;
}

.sub .sub-shop .shop-3{
    position: relative;
    transition: 0.5s;
}
.sub .sub-shop .shop-3 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px 10px;
}
.sub .sub-shop .shop-3 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.sub .sub-shop .shop-3:hover .img-2{
    /* display: block; */
    opacity: 1;
}
.sub .sub-shop .shop-3 p{
    margin: 5px 10px;
}

.sub .sub-shop .shop-4{
    position: relative;
    transition: 0.5s;
}
.sub .sub-shop .shop-4 .img-1{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px 10px;

}
.sub .sub-shop .shop-4 .img-2{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    opacity: 0;
    transition: opacity .2s linear;
}
.sub .sub-shop .shop-4:hover .img-2{
    opacity: 1;
}
.sub .sub-shop .shop-4 p{
    margin: 5px 10px;
}

/* 유튜브 영상 */
.youtube{
    position: relative;
    height: 800px;
    background-color: #000;
    overflow: hidden;
}
.youtube .yutube__area{
    --width : 1920px;
    --height : 1080px;

    position: absolute;
    left: 50%;
    top: 50%;

    width: var(--width);
    height: var(--height);  

    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--height) / -2);
}
#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube .youtube__cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 좌측 상단 클릭 LIST */
header .list{
    width: 400px;
    height: 2000px;
    overflow: hidden;

    /* 나중에 삭제 */
    /* background-color: #fff; */
    background-color: aqua;
}
header .list .shop__list{
    position: absolute;
    top: 0;
    left: 50px;
}
header .list .shop__list .material-icons{
    font-size: 30px;
    font-weight: 900;
    margin: 30px 0;
}
header .list .shop__list h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;
}
header .list .shop__list li{
    margin-left: 15px;
    margin-bottom: 5px;
}
header .list .ranking__list{
    position: absolute;
    top: 300px;
    left: 50px;
}
header .list .ranking__list a{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;
}
header .list .ranking__list ul{
    display: flex;
}
header .list .ranking__list ul li{
    width: 80px;
    font-size: 10px;
    text-align: center;
    margin: 10px;
}
header .list .ranking__list ul li img{
    width: 80px;
    margin-bottom: 5px;
}

/* 클릭 이벤트 */